@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* * {
    padding: 0;
    margin: 0;
} */

body {
    background-color: #f1f1f1;
    color: #0f141e;
    
    /* font-size: 16px;
    font-weight: normal;
    font-family: "Roboto", sans-serif; */

    font: normal 16px "Roboto", sans-serif;
}

a {
    color: black;
    text-decoration: none;    
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: gray;
}

/* Box Model */
.container {
    padding-top: 30px;
    max-width: 75%;
    margin: auto;
}

.info {
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 700px){
    .info {
        text-align: center;
        display: block;
    }
}

.info-text {
    margin-left: 40px;
}

@media (max-width: 700px){
   .info-text {
        margin-left: 0;
    }   
}

.info a:last-child {
    display: block;
    padding-top: 10px;
}

.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /* text-transform: uppercase; */
    /* letter-spacing: 15px; */
    /* word-spacing: 42px; */
}

.info:last-child a{
    margin-top: 20px;
}

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}


.bg-yellow {
    background: #fff9dc;
}

.bg-green {
    background: #e5ffe7;
}

.bg-red {
    background: #ffe5e5;
}

.card { 
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2{ 
   margin-bottom: 20px;
}

.list {
    padding: 0 20px;
}

.list li{
    color: #86898f;
    margin-bottom: 10px;
    /* border-bottom: 1px solid gray; */
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2), .table td:nth-child(3) {
    color: #86898f;
}

.link-list{
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.contact h2{
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-group input, textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20px;;
}

.row > .form-group {
    width: 50%;
   
}

.row > .form-group:first-child{
    margin-right: 20px;
}

.btn {
    background: #000;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
    font-family: inherit;
    border: none;
}

.btn:hover{
    opacity: 0.9;
}

/* Position */

/* .position{
    position: relative;
    border: 4px solid black;
    margin-top: 40px;
    padding: 20px;
    height: 300px;
}

.box{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: lightcoral;
} */

/* .table tr:nth-child(odd){
    background: red;
} */

/* .social {
    background-color: green;
    padding: 15px;
    border: 5px solid red;
    border-bottom-style: dotted;
    border-top-width: 15px;
    border-right-color: blue;
    margin: 20px;
} */


/* .box-model > div{
    float: left;
    background: black;
    height: 200px;
    border: 4px solid red;
    width: 25%;
    box-sizing: border-box;
} */


